<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="market-statistics-interface"/>
    <!-- 注册中心暴露服务地址 -->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}"/>
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="9012"/>
    <!-- 声明需要暴露的服务接口 -->

    <dubbo:service interface="com.maxcar.statistics.service.RankingService" ref="rankingService" timeout="1200000"/>

    <dubbo:service interface="com.maxcar.statistics.service.ReportByCarInvoiceTypeService" ref="reportByCarInvoiceTypeService" timeout="1200000"/>

    <dubbo:service interface="com.maxcar.statistics.service.TradingService" ref="tradingService" timeout="1200000"/>


</beans>