<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maxcar.stock.dao.ReviewStepMapper" >
  <resultMap id="BaseResultMap" type="com.maxcar.stock.pojo.ReviewStep" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="step_name" property="stepName" jdbcType="VARCHAR" />
    <result column="review_person_id" property="reviewId" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="market_id" property="marketId" jdbcType="VARCHAR" />
    <result column="apply_type" property="applyType" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="FlowStepResultMap" type="com.maxcar.stock.pojo.FlowStep">
    <id column="id" property="id" jdbcType="VARCHAR"/>

    <result column="flow_name" property="flowName" jdbcType="VARCHAR"/>
    <result column="is_need_review" property="isNeedReview" jdbcType="INTEGER"/>
    <result column="market_id" property="marketId" jdbcType="VARCHAR"/>
    <result column="review_type" property="reviewType" jdbcType="INTEGER"/>
    <result column="code" property="code" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, step_name, review_id, level, type, apply_type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.maxcar.stock.pojo.ReviewStepExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from review_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from review_step
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from review_step
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByReview" parameterType="com.maxcar.stock.pojo.ReviewStep" >
    delete from review_step
    where
    <if test="level != null" >
      level = #{level}
    </if>
    <if test="marketId != null" >
      market_id = #{marketId}
    </if>
    <if test="applyType != null" >
      apply_type = #{applyType}
    </if>
  </delete>
  <delete id="deleteByExample" parameterType="com.maxcar.stock.pojo.ReviewStepExample" >
    delete from review_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maxcar.stock.pojo.ReviewStep" >
    insert into review_step ( step_name, review_person_id,
      level, type, apply_type,org_id
      )
    values ( #{stepName,jdbcType=VARCHAR}, #{reviewPersonId,jdbcType=INTEGER},
      #{level,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{applyType,jdbcType=INTEGER},#{orgId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.maxcar.stock.pojo.ReviewStep" >
    insert into review_step
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="stepName != null" >
        step_name,
      </if>
      <if test="reviewId != null" >
        review_id,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="applyType != null" >
        apply_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="stepName != null" >
        #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="reviewId != null" >
        #{reviewId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="applyType != null" >
        #{applyType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maxcar.stock.pojo.ReviewStepExample" resultType="java.lang.Integer" >
    select count(*) from review_step
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update review_step
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.stepName != null" >
        step_name = #{record.stepName,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewId != null" >
        review_id = #{record.reviewId,jdbcType=INTEGER},
      </if>
      <if test="record.level != null" >
        level = #{record.level,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.applyType != null" >
        apply_type = #{record.applyType,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update review_step
    set id = #{record.id,jdbcType=INTEGER},
      step_name = #{record.stepName,jdbcType=VARCHAR},
      review_id = #{record.reviewId,jdbcType=INTEGER},
      level = #{record.level,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      apply_type = #{record.applyType,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maxcar.stock.pojo.ReviewStep" >
    update review_step
    <set >
      <if test="stepName != null" >
        step_name = #{stepName,jdbcType=VARCHAR},
      </if>
      <if test="reviewId != null" >
        review_id = #{reviewId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="applyType != null" >
        apply_type = #{applyType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maxcar.stock.pojo.ReviewStep" >
    update review_step
    set step_name = #{stepName,jdbcType=VARCHAR},
      review_person_id = #{reviewId,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      apply_type = #{applyType,jdbcType=INTEGER},
      org_id= #{orgId,jdbcType=VARCHAR},

    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectStepList" parameterType="com.maxcar.stock.pojo.ReviewStep" resultMap="BaseResultMap">
  select id ,step_name ,  market_id ,is_need_review ,apply_type from review_step where 1=1
    <if test="marketId != null" >
     and market_id = #{marketId}
    </if>
    <if test="applyType != null" >
      and apply_type = #{applyType}
    </if>
    <if test="level != null" >
      and level = #{level}
    </if>
    <if test="id != null" >
      and id = #{id}
    </if>
    group by level

  </select>
  
  <select id="selectReviewManage" resultMap="FlowStepResultMap" parameterType="String">
    select *
      from flow_step where market_id = #{marketId}
and is_valid=1
  </select>

  <insert id="insertFlowStep" parameterType="com.maxcar.stock.pojo.FlowStep">
    insert into flow_step ( flow_name,is_need_review, review_type,
      market_id, code,insert_time,is_valid
      )
    values ( #{flowName}, #{isNeedReview} ,#{reviewType},#{marketId},
      #{code},#{insertTime},#{isValid}
      )

  </insert>

  <update id="deleteReviewManage" parameterType="String" >
    update flow_step set is_valid = 0 where id = #{id}

  </update>
  <update id="updateFlowStep" parameterType="com.maxcar.stock.pojo.FlowStep" >
    update flow_step set is_need_review = #{isNeedReview} , review_type =#{reviewType} where code = #{code} and market_id = #{marketId}

  </update>
  <select id="selectMarketCode" parameterType="com.maxcar.stock.pojo.FlowStep" resultType="java.lang.Integer">
    select count(1) from flow_step where market_id = #{marketId} and code = #{code}
  </select>
</mapper>