<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maxcar.invoice.dao.TicketPurchaseMapper">
  <resultMap id="BaseResultMap" type="com.maxcar.invoice.pojo.TicketPurchase">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="invoice_id" jdbcType="VARCHAR" property="invoiceId" />
    <result column="invoice_code" jdbcType="VARCHAR" property="invoiceCode" />
    <result column="invoice_no" jdbcType="VARCHAR" property="invoiceNo" />
    <result column="buy_ticket_name" jdbcType="VARCHAR" property="buyTicketName" />
    <result column="poll_all" jdbcType="INTEGER" property="pollAll" />
    <result column="poll_residue" jdbcType="INTEGER" property="pollResidue" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="insert_operator" jdbcType="VARCHAR" property="insertOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
    <result column="isvalid" jdbcType="INTEGER" property="isvalid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="invoice_start_no" jdbcType="INTEGER" property="invoiceStartNo" />
    <result column="invoice_end_no" jdbcType="INTEGER" property="invoiceEndNo" />
    <result column="bill_time" jdbcType="TIMESTAMP" property="billTime" />
    <result column="market_id" jdbcType="VARCHAR" property="marketId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, invoice_id, invoice_code, invoice_no, buy_ticket_name, poll_all, poll_residue, 
    insert_time, insert_operator, update_time, update_operator, isvalid, status, invoice_start_no, 
    invoice_end_no, bill_time, market_id
  </sql>
  <select id="selectByExample" parameterType="com.maxcar.invoice.pojo.TicketPurchaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ticket_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ticket_purchase
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ticket_purchase
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.maxcar.invoice.pojo.TicketPurchaseExample">
    delete from ticket_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maxcar.invoice.pojo.TicketPurchase">
    insert into ticket_purchase (id, invoice_id, invoice_code, 
      invoice_no, buy_ticket_name, poll_all, 
      poll_residue, insert_time, insert_operator, 
      update_time, update_operator, isvalid, 
      status, invoice_start_no, invoice_end_no, 
      bill_time, market_id)
    values (#{id,jdbcType=VARCHAR}, #{invoiceId,jdbcType=VARCHAR}, #{invoiceCode,jdbcType=VARCHAR}, 
      #{invoiceNo,jdbcType=VARCHAR}, #{buyTicketName,jdbcType=VARCHAR}, #{pollAll,jdbcType=INTEGER}, 
      #{pollResidue,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, #{insertOperator,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=VARCHAR}, #{isvalid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{invoiceStartNo,jdbcType=INTEGER}, #{invoiceEndNo,jdbcType=INTEGER}, 
      #{billTime,jdbcType=TIMESTAMP}, #{marketId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.maxcar.invoice.pojo.TicketPurchase">
    insert into ticket_purchase
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="invoiceId != null">
        invoice_id,
      </if>
      <if test="invoiceCode != null">
        invoice_code,
      </if>
      <if test="invoiceNo != null">
        invoice_no,
      </if>
      <if test="buyTicketName != null">
        buy_ticket_name,
      </if>
      <if test="pollAll != null">
        poll_all,
      </if>
      <if test="pollResidue != null">
        poll_residue,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="insertOperator != null">
        insert_operator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateOperator != null">
        update_operator,
      </if>
      <if test="isvalid != null">
        isvalid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invoiceStartNo != null">
        invoice_start_no,
      </if>
      <if test="invoiceEndNo != null">
        invoice_end_no,
      </if>
      <if test="billTime != null">
        bill_time,
      </if>
      <if test="marketId != null">
        market_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="invoiceId != null">
        #{invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null">
        #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="buyTicketName != null">
        #{buyTicketName,jdbcType=VARCHAR},
      </if>
      <if test="pollAll != null">
        #{pollAll,jdbcType=INTEGER},
      </if>
      <if test="pollResidue != null">
        #{pollResidue,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertOperator != null">
        #{insertOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="invoiceStartNo != null">
        #{invoiceStartNo,jdbcType=INTEGER},
      </if>
      <if test="invoiceEndNo != null">
        #{invoiceEndNo,jdbcType=INTEGER},
      </if>
      <if test="billTime != null">
        #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="marketId != null">
        #{marketId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maxcar.invoice.pojo.TicketPurchaseExample" resultType="java.lang.Integer">
    select count(*) from ticket_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ticket_purchase
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceId != null">
        invoice_id = #{record.invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceCode != null">
        invoice_code = #{record.invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceNo != null">
        invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.buyTicketName != null">
        buy_ticket_name = #{record.buyTicketName,jdbcType=VARCHAR},
      </if>
      <if test="record.pollAll != null">
        poll_all = #{record.pollAll,jdbcType=INTEGER},
      </if>
      <if test="record.pollResidue != null">
        poll_residue = #{record.pollResidue,jdbcType=INTEGER},
      </if>
      <if test="record.insertTime != null">
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.insertOperator != null">
        insert_operator = #{record.insertOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateOperator != null">
        update_operator = #{record.updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.isvalid != null">
        isvalid = #{record.isvalid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.invoiceStartNo != null">
        invoice_start_no = #{record.invoiceStartNo,jdbcType=INTEGER},
      </if>
      <if test="record.invoiceEndNo != null">
        invoice_end_no = #{record.invoiceEndNo,jdbcType=INTEGER},
      </if>
      <if test="record.billTime != null">
        bill_time = #{record.billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.marketId != null">
        market_id = #{record.marketId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ticket_purchase
    set id = #{record.id,jdbcType=VARCHAR},
      invoice_id = #{record.invoiceId,jdbcType=VARCHAR},
      invoice_code = #{record.invoiceCode,jdbcType=VARCHAR},
      invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      buy_ticket_name = #{record.buyTicketName,jdbcType=VARCHAR},
      poll_all = #{record.pollAll,jdbcType=INTEGER},
      poll_residue = #{record.pollResidue,jdbcType=INTEGER},
      insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      insert_operator = #{record.insertOperator,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_operator = #{record.updateOperator,jdbcType=VARCHAR},
      isvalid = #{record.isvalid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      invoice_start_no = #{record.invoiceStartNo,jdbcType=INTEGER},
      invoice_end_no = #{record.invoiceEndNo,jdbcType=INTEGER},
      bill_time = #{record.billTime,jdbcType=TIMESTAMP},
      market_id = #{record.marketId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maxcar.invoice.pojo.TicketPurchase">
    update ticket_purchase
    <set>
      <if test="invoiceId != null">
        invoice_id = #{invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null">
        invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="buyTicketName != null">
        buy_ticket_name = #{buyTicketName,jdbcType=VARCHAR},
      </if>
      <if test="pollAll != null">
        poll_all = #{pollAll,jdbcType=INTEGER},
      </if>
      <if test="pollResidue != null">
        poll_residue = #{pollResidue,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertOperator != null">
        insert_operator = #{insertOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        update_operator = #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        isvalid = #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="invoiceStartNo != null">
        invoice_start_no = #{invoiceStartNo,jdbcType=INTEGER},
      </if>
      <if test="invoiceEndNo != null">
        invoice_end_no = #{invoiceEndNo,jdbcType=INTEGER},
      </if>
      <if test="billTime != null">
        bill_time = #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maxcar.invoice.pojo.TicketPurchase">
    update ticket_purchase
    set invoice_id = #{invoiceId,jdbcType=VARCHAR},
      invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      buy_ticket_name = #{buyTicketName,jdbcType=VARCHAR},
      poll_all = #{pollAll,jdbcType=INTEGER},
      poll_residue = #{pollResidue,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      insert_operator = #{insertOperator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_operator = #{updateOperator,jdbcType=VARCHAR},
      isvalid = #{isvalid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      invoice_start_no = #{invoiceStartNo,jdbcType=INTEGER},
      invoice_end_no = #{invoiceEndNo,jdbcType=INTEGER},
      bill_time = #{billTime,jdbcType=TIMESTAMP},
      market_id = #{marketId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.maxcar.invoice.pojo.TicketPurchase">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="invoice_id" jdbcType="VARCHAR" property="invoiceId" />
    <result column="invoice_code" jdbcType="VARCHAR" property="invoiceCode" />
    <result column="invoice_no" jdbcType="VARCHAR" property="invoiceNo" />
    <result column="buy_ticket_name" jdbcType="VARCHAR" property="buyTicketName" />
    <result column="poll_all" jdbcType="INTEGER" property="pollAll" />
    <result column="poll_residue" jdbcType="INTEGER" property="pollResidue" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="insert_operator" jdbcType="VARCHAR" property="insertOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_operator" jdbcType="VARCHAR" property="updateOperator" />
    <result column="isvalid" jdbcType="INTEGER" property="isvalid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="invoice_start_no" jdbcType="INTEGER" property="invoiceStartNo" />
    <result column="invoice_end_no" jdbcType="INTEGER" property="invoiceEndNo" />
    <result column="bill_time" jdbcType="TIMESTAMP" property="billTime" />
    <result column="market_id" jdbcType="VARCHAR" property="marketId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, invoice_id, invoice_code, invoice_no, buy_ticket_name, poll_all, poll_residue, 
    insert_time, insert_operator, update_time, update_operator, isvalid, status, invoice_start_no, 
    invoice_end_no, bill_time, market_id
  </sql>
  <select id="selectByExample" parameterType="com.maxcar.invoice.pojo.TicketPurchaseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from ticket_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ticket_purchase
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from ticket_purchase
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.maxcar.invoice.pojo.TicketPurchaseExample">
    delete from ticket_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maxcar.invoice.entity.TicketPurchase">
    insert into ticket_purchase (id, invoice_id, invoice_code, 
      invoice_no, buy_ticket_name, poll_all, 
      poll_residue, insert_time, insert_operator, 
      update_time, update_operator, isvalid, 
      status, invoice_start_no, invoice_end_no, 
      bill_time, market_id)
    values (#{id,jdbcType=VARCHAR}, #{invoiceId,jdbcType=VARCHAR}, #{invoiceCode,jdbcType=VARCHAR}, 
      #{invoiceNo,jdbcType=VARCHAR}, #{buyTicketName,jdbcType=VARCHAR}, #{pollAll,jdbcType=INTEGER}, 
      #{pollResidue,jdbcType=INTEGER}, #{insertTime,jdbcType=TIMESTAMP}, #{insertOperator,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=VARCHAR}, #{isvalid,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{invoiceStartNo,jdbcType=INTEGER}, #{invoiceEndNo,jdbcType=INTEGER}, 
      #{billTime,jdbcType=TIMESTAMP}, #{marketId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.maxcar.invoice.pojo.TicketPurchase">
    insert into ticket_purchase
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="invoiceId != null">
        invoice_id,
      </if>
      <if test="invoiceCode != null">
        invoice_code,
      </if>
      <if test="invoiceNo != null">
        invoice_no,
      </if>
      <if test="buyTicketName != null">
        buy_ticket_name,
      </if>
      <if test="pollAll != null">
        poll_all,
      </if>
      <if test="pollResidue != null">
        poll_residue,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="insertOperator != null">
        insert_operator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateOperator != null">
        update_operator,
      </if>
      <if test="isvalid != null">
        isvalid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="invoiceStartNo != null">
        invoice_start_no,
      </if>
      <if test="invoiceEndNo != null">
        invoice_end_no,
      </if>
      <if test="billTime != null">
        bill_time,
      </if>
      <if test="marketId != null">
        market_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="invoiceId != null">
        #{invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null">
        #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="buyTicketName != null">
        #{buyTicketName,jdbcType=VARCHAR},
      </if>
      <if test="pollAll != null">
        #{pollAll,jdbcType=INTEGER},
      </if>
      <if test="pollResidue != null">
        #{pollResidue,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertOperator != null">
        #{insertOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="invoiceStartNo != null">
        #{invoiceStartNo,jdbcType=INTEGER},
      </if>
      <if test="invoiceEndNo != null">
        #{invoiceEndNo,jdbcType=INTEGER},
      </if>
      <if test="billTime != null">
        #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="marketId != null">
        #{marketId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maxcar.invoice.pojo.TicketPurchaseExample" resultType="java.lang.Integer">
    select count(*) from ticket_purchase
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ticket_purchase
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceId != null">
        invoice_id = #{record.invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceCode != null">
        invoice_code = #{record.invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.invoiceNo != null">
        invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.buyTicketName != null">
        buy_ticket_name = #{record.buyTicketName,jdbcType=VARCHAR},
      </if>
      <if test="record.pollAll != null">
        poll_all = #{record.pollAll,jdbcType=INTEGER},
      </if>
      <if test="record.pollResidue != null">
        poll_residue = #{record.pollResidue,jdbcType=INTEGER},
      </if>
      <if test="record.insertTime != null">
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.insertOperator != null">
        insert_operator = #{record.insertOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateOperator != null">
        update_operator = #{record.updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.isvalid != null">
        isvalid = #{record.isvalid,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.invoiceStartNo != null">
        invoice_start_no = #{record.invoiceStartNo,jdbcType=INTEGER},
      </if>
      <if test="record.invoiceEndNo != null">
        invoice_end_no = #{record.invoiceEndNo,jdbcType=INTEGER},
      </if>
      <if test="record.billTime != null">
        bill_time = #{record.billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.marketId != null">
        market_id = #{record.marketId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ticket_purchase
    set id = #{record.id,jdbcType=VARCHAR},
      invoice_id = #{record.invoiceId,jdbcType=VARCHAR},
      invoice_code = #{record.invoiceCode,jdbcType=VARCHAR},
      invoice_no = #{record.invoiceNo,jdbcType=VARCHAR},
      buy_ticket_name = #{record.buyTicketName,jdbcType=VARCHAR},
      poll_all = #{record.pollAll,jdbcType=INTEGER},
      poll_residue = #{record.pollResidue,jdbcType=INTEGER},
      insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      insert_operator = #{record.insertOperator,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      update_operator = #{record.updateOperator,jdbcType=VARCHAR},
      isvalid = #{record.isvalid,jdbcType=INTEGER},
      status = #{record.status,jdbcType=INTEGER},
      invoice_start_no = #{record.invoiceStartNo,jdbcType=INTEGER},
      invoice_end_no = #{record.invoiceEndNo,jdbcType=INTEGER},
      bill_time = #{record.billTime,jdbcType=TIMESTAMP},
      market_id = #{record.marketId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maxcar.invoice.pojo.TicketPurchase">
    update ticket_purchase
    <set>
      <if test="invoiceId != null">
        invoice_id = #{invoiceId,jdbcType=VARCHAR},
      </if>
      <if test="invoiceCode != null">
        invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      </if>
      <if test="invoiceNo != null">
        invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="buyTicketName != null">
        buy_ticket_name = #{buyTicketName,jdbcType=VARCHAR},
      </if>
      <if test="pollAll != null">
        poll_all = #{pollAll,jdbcType=INTEGER},
      </if>
      <if test="pollResidue != null">
        poll_residue = #{pollResidue,jdbcType=INTEGER},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="insertOperator != null">
        insert_operator = #{insertOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        update_operator = #{updateOperator,jdbcType=VARCHAR},
      </if>
      <if test="isvalid != null">
        isvalid = #{isvalid,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="invoiceStartNo != null">
        invoice_start_no = #{invoiceStartNo,jdbcType=INTEGER},
      </if>
      <if test="invoiceEndNo != null">
        invoice_end_no = #{invoiceEndNo,jdbcType=INTEGER},
      </if>
      <if test="billTime != null">
        bill_time = #{billTime,jdbcType=TIMESTAMP},
      </if>
      <if test="marketId != null">
        market_id = #{marketId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maxcar.invoice.pojo.TicketPurchase">
    update ticket_purchase
    set invoice_id = #{invoiceId,jdbcType=VARCHAR},
      invoice_code = #{invoiceCode,jdbcType=VARCHAR},
      invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      buy_ticket_name = #{buyTicketName,jdbcType=VARCHAR},
      poll_all = #{pollAll,jdbcType=INTEGER},
      poll_residue = #{pollResidue,jdbcType=INTEGER},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      insert_operator = #{insertOperator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_operator = #{updateOperator,jdbcType=VARCHAR},
      isvalid = #{isvalid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      invoice_start_no = #{invoiceStartNo,jdbcType=INTEGER},
      invoice_end_no = #{invoiceEndNo,jdbcType=INTEGER},
      bill_time = #{billTime,jdbcType=TIMESTAMP},
      market_id = #{marketId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>