<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>  
        <setting name="logImpl" value="LOG4J"/>
        <!-- lazyLoadingEnabled:延迟加载启动，默认是false -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!-- aggressiveLazyLoading：积极的懒加载，false的话按需加载，默认是true -->
        <setting name="aggressiveLazyLoading" value="false"/>

        <!-- 开启二级缓存，默认是false -->
        <setting name="cacheEnabled" value="true"/>
    </settings>  
</configuration>